<div class="containerr m-0 " [style.backgroundImage]="'url(' + backgroundImage + ')'">
  <div class="blur" [ngStyle]="zindex ? { 'display': 'none' } : null" ></div>
  <div class="containerf m-0 d-flex flex-column justify-content-center align-items-center">
    <div class="select d-flex gap-3 align-items-center" style="width: 34rem;">
     <div class="dropdown ">
      <div class="input-group " id="dropdownNotification" data-bs-toggle="dropdown" aria-expanded="false">
          <input type="text" (input)="getAllPlaces()" [(ngModel)]="searchText" class="form-control" placeholder="Search for country" >
        <i class=" search bi bi-search" style="color:#000;"></i> 
      </div>
      <div class="dropdown-menu text-small shadow p-0" 
        aria-labelledby="dropdownNotification">
       
        <ul style="max-height: 500px; overflow-y: auto;" class="list-group">
          <li  class="list-group-item  " *ngIf="!coutriesSearched"> None</li>
          <li  class="list-group-item  " (click)="setName(item)" *ngFor="let item of coutriesSearched "  [attr.data-value]="item.name" > 
            <img [src]="getImageSource(item.country_code)" height="20px" width="30px" alt="">
            {{item.name}}  ,{{item.admin1}}, {{item.country}}
          </li>
        </ul>
        
      </div>
    </div>
     <div *ngIf="cityData.daily">
      <i class="bi bi-x-lg" (click)="destroyCity()" ></i>
    </div> 
    </div>

     <app-weather-details *ngIf="cityData.daily" 
     class="d-flex align-items-center justify-content-center"
      style=" display: block; width:100%"
      [backupDAta]="backupDAta"
       [cityData]="cityData" 
       [showDetails]="showDetails"  
       (showDetailsChange)="showDetails = $event">

      </app-weather-details>
  </div>
</div>
<!--  -->